{% extends 'base.html'%}

{%  block miniatura_receita %}
<div class="cards-tela-inicial row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
    {% for receita in receitas %}
    <div class="col mb-4">
        <div class="card receita-tela-inicial h-100">
            <a href="{% url 'receita:receita_completa' receita.slug %}">
                <!--TODO: o tamanho da imagem precisa ser fixo e seu container também-->
                {% if receita.fotos %}
                <img src="{{ receita.fotos.url }}" alt="{{ receita.nome_receita }}" class="card-img-top">
                {% else %}
                <img src="cocktail.jpeg" class="card-img-top" alt="...">
                {% endif %}
            </a>
            <div class="card-body">
                <a href="" class="fav-tela-inicial">
                    <i class="far fa-heart"></i>
                </a>
                <a href="{{ receita.slug }}">
                    <h5 class="card-title">{{ receita.nome_receita }}</h5>
                </a>
                <p class="card-text">Publicado por <a style="font-size: 12px;"
                        href=""><strong>{{ receita.dono_receita }}</strong></a>
                </p>
                <p class="card-text">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </p>
                <p class="card-text descricao-tela-inicial">
                    {{ receita.modo_preparo }}
                </p>
                <hr>
                <div class="row">
                    <div class="info-tela-inicial col">
                        <div class="row">
                            <div class="col">
                                <i style="font-size: 25px;" class="far fa-clock"></i>
                                <p>{{ receita.tempo_preparo}} minuto{{ receita.tempo_preparo | pluralize }} </p>
                            </div>
                            <div class="col">
                                <i style="font-size: 25px;" class="fas fa-concierge-bell"></i>
                                <p>{{ receita.porcoes }} por{{ receita.porcoes | pluralize:"ção,ções" }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button onclick="window.location.href='{{ receita.slug }}';" class="see-more-tela-inicial btn">
                <i class="fas fa-book-open"></i>
            </button>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row mt-3">
    <div class="col">
        {%include 'parciais/_pagination.html'%}
    </div>
</div>
{%  endblock %}