<title>{{ ingredientes.nome_receita }} - CookIt!</title>

{%include 'parciais/_head.html'%} {% include 'parciais/_navbar.html'%}
<div class="container">
    <div id="receita-receita-completa">
        <div id="dados-receita-completa">
            <div class="row">
                <div id="titulo-receita-completa" class="col">
                    <h3>{{ ingredientes.nome_receita }}</h3>
                    <p>publicado por <strong>{{ ingredientes.dono_receita }}</strong></p>
                    <div>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> (1)
                    </div>
                </div>
                <div id="thumbnails-receita-completa" class="col">
                    <div class="row">
                        {% if ingredientes.fotos %}
                        <!--TODO: ver uma formatação melhor para a imagem-->
                        <img class="receita-foto rounded-circle" style="max-width:800px"
                            src="{{ ingredientes.fotos.url }}" alt="{{ ingredientes.nome_receita }}">
                        {% endif %}
                    </div>
                </div>
                <div id="opcoes-receita-completa" class="col-1">
                    <a href=""><i class="far fa-heart fa-lg"></i></a>
                    <br>
                    <a href=""><i class="fas fa-share-alt"></i></a>
                    <br>
                    <a href=""><i class="fas fa-flag"></i></a>
                </div>
            </div>
            <div class="col-md">

                <div class="row">
                    <div class="col mb-3">
                        <div id="icones-receita-completa" class="col">

                            <div class="line-receita-completa" class="col" style="border: none;">
                                <div class="icon-text-receita-completa">
                                    <i class="far fa-clock"></i>
                                    <br> {% if ingredientes.tempo_preparo %}
                                    <p>
                                        {{ingredientes.tempo_preparo}}
                                        {{ingredientes.get_tempo_unidade_medida_display}}{{ingredientes.tempo_preparo|pluralize}}
                                    </p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="line-receita-completa" class="col">
                                <div class="icon-text-receita-completa">
                                    <i class="fas fa-concierge-bell"></i>
                                    <br> {% if ingredientes.porcoes %}
                                    <p>Por{{ingredientes.porcoes | pluralize:"ção,ções"}}: {{ingredientes.porcoes}}</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="line-receita-completa" class="col">
                                <div class="icon-text-receita-completa">
                                    <i class="fas fa-burn"></i>
                                    <br>
                                    <p>Dificuldade: {{ingredientes.get_dificuldade_display}}</p>
                                </div>
                            </div>


                            <div class="line-receita-completa" class="col">
                                <div class="icon-text-receita-completa">
                                    <i class="far fa-heart"></i>
                                    <br>
                                    <p>Favoritos</p>
                                </div>
                            </div>

                            <div class="line-receita-completa" class="col">
                                <div class="icon-text-receita-completa">
                                    <i class="far fa-comment-alt"></i>
                                    <br>
                                    <p>Comentários</p>
                                </div>
                            </div>

                            <div class="line-receita-completa" class="col">
                                <div class="icon-text-receita-completa">
                                    <i class="far fa-calendar-alt"></i>
                                    <br>
                                    <p>{{ingredientes.data_publicacao|date}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row mb-3">

                    <div id="ingredientes-receita-completa" class="col">
                        <h3>Ingredientes ({{ ingredientes.ingredientes.all|length }})</h3>

                        <div id="alinhamento-ingredientes">
                            {% for ingrediente in ingredientes.ingredientes.all %}
                            {%if ingrediente.unidade_medida == 'AGS' %}
                            <p>
                                <strong style="color: #F0A916;">{{ingrediente.nome_ingrediente}}</strong>
                                <strong>{{ingrediente.get_unidade_medida_display}}</strong>
                            </p>
                            {%else%}
                            <p>
                                <strong>{{ingrediente.quantidade}} {{ingrediente.get_unidade_medida_display}}</strong>
                                de
                                <strong style="color: #F0A916;">{{ingrediente.nome_ingrediente}}</strong>
                            </p>
                            {%endif%} {% endfor %}
                        </div>
                    </div>

                    <div id="modo-de-preparo-receita-completa" class="col">
                        <h3>Modo de Preparo</h3>

                        <p>{{ingredientes.modo_preparo}}</p>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <h3>Observações Adicionais</h3>

                        <div id="obad-receita-completa">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu dapibus eros, at
                                interdum
                                odio. Integer at enim eu ligula fermentum gravida. Pellentesque non odio a diam accumsan
                                blandit accumsan vitae lectus. Etiam vitae placerat
                                justo. Etiam vel volutpat nisi. Fusce eleifend arcu vel consequat vestibulum. Aliquam
                                vulputate hendrerit tincidunt. Nulla in porta nunc, nec pulvinar lacus. Nullam vel eros
                                justo. Phasellus quis lacus vel velit mollis bibendum.
                                Etiam volutpat enim non gravida maximus.
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <h3>Chef</h3>
                        <div id="usuario-receita-completa">
                            <div id="dados-usuario-receita-completa" class="row">
                                <i class="fas fa-user-circle col-2"></i>
                                <div class="col">
                                    <h4>{{ingrediente.dono_receita}}</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu dapibus eros, at
                                        interdum odio. Integer at enim eu ligula fermentum gravida.
                                    </p>
                                </div>
                            </div>
                            <div id="icones-usuario-receita-completa" class="row">
                                <div class="col">
                                    <i class="far fa-images"></i>
                                </div>
                                <div class="col">
                                    <i class="fas fa-book"></i>
                                    <p>Receitas</p>
                                </div>
                                <div class="col">
                                    <i class="far fa-heart"></i>
                                    <p>Favoritos</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div id="comentarios-receita-completa"></div>
        </div>
    </div>