{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cadastro de receita</title>
  {%include 'parciais/_head.html'%}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between fixed-top">
    <a class="navbar-brand" href="#">
      <img src="{% static 'imgs/cookit_logo.svg' %}" alt="" height="36px">
    </a>
    <form class="form-inline <!--mr-auto my-2 my-lg-0-->">
      <div id="search" class="input-group">
        <input id="search-input-editarreceita" class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button id="search-button-editarreceita" class="btn btn-success" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
    <div class="" id="navbarSupportedContent">
      <ul class="nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button">
            <h5><i class="fas fa-book"></i></h5>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <h5><i class="fas fa-bell"></i></h5>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a id="nav-icon" class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <h5><i class="fas fa-heart"></i></h5>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="{% static 'imgs/cookit_user.svg' %}" alt="" height="20px">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h3>Inserindo Sua Receita</h3>
    <form class="form">
      <div class="form-group">
        <input type="text" class="form-control rounded-pill" placeholder="Nome da receita">
      </div>
      <div class="form-group row">
        <div class="f"></div>
      </div>
      <div class="form-group">
        <ul id="thumbnail-input-group-editarreceita" class="jumbotron d-flex justify-content-around p-0">
          <li class="form-control rounded-circle d-flex justify-content-center align-items-center" id="thumbnail-input-editarreceita">
            <a href="">
              <i class="fas fa-camera"></i>
            </a>
          </li>
          <li class="form-control rounded-circle d-flex justify-content-center align-items-center" id="thumbnail-input-editarreceita">
            <a href="">
              <i class="fas fa-camera"></i>
            </a>
          </li>
          <li class="form-control rounded-circle d-flex justify-content-center align-items-center" id="thumbnail-input-editarreceita">
            <a href="">
              <i class="fas fa-camera"></i>
            </a>
          </li>
          <li class="form-control rounded-circle d-flex justify-content-center align-items-center" id="thumbnail-input-editarreceita">
            <a href="">
              <i class="fas fa-camera"></i>
            </a>
          </li>
          <li class="form-control rounded-circle d-flex justify-content-center align-items-center" id="thumbnail-input-editarreceita">
            <a href="">
              <i class="fas fa-camera"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="form-group row">
        <div class="form-group col-sm">
          <input multiple id="input" type="text" class="form-control rounded-pill" placeholder="Ingredientes">
        </div>
        <div class="form-group col-sm">
          <input id="input" type="text" class="form-control rounded-pill" placeholder="Categorias">
        </div>
      </div>
      <div id="prep-editarreceita" class="row">
        <div id="prep-mode-editarreceita" class="form-group col-sm">
          <div class="jumbotron">
            <h4>Modo de Preparo</h4>
            <div id="prep-input-editarreceita" class="form-group form-control d-flex">
              <label for="">1.</label>
              <textarea type="text"></textarea>
            </div>
            <div id="prep-input-editarreceita" class="form-group form-control d-flex">
              <label for="">2.</label>
              <textarea type="text"></textarea>
            </div>
            <div id="prep-input-editarreceita" class="form-group form-control d-flex">
              <label for="">3.</label>
              <textarea type="text"></textarea>
            </div>
            <button class="btn btn-primary btn-block rounded-pill">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <div id="general" class="form-group col-sm">
          <div class="jumbotron">
            <h4>Caracteristicas gerais</h4>
            <div class="form-group">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">Doce</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">Salgado</label>
              </div>
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <label class="input-group-text input-label-editarreceita">Porções</label>
              </div>
              <input class="form-control" id="portions-editarreceita" type="number" min="1">
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <label class="input-group-text input-label-editarreceita">Tempo de preparo</label>
              </div>
              <input id="prep-time-editarreceita" type="time" class="form-control">
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <label class="input-group-text input-label-editarreceita">Nível de dificuldade</label>
              </div>
              <select id="difficulty-editarreceita" class="form-control custom-select">
                <option id="easy-editarreceita" value="1">Fácil</option>
                <option id="medium-editarreceita" value="2">Médio</option>
                <option id="hard-editarreceita" value="3">Difícil</option>
                <option id="super-editarreceita" value="4">Super</option>
              </select>
            </div>
            <textarea type="text" class="form-group form-control" placeholder="Observações adicionais"></textarea>
          </div>
        </div>
      </div>
      <button id="submit-button-editarreceita" type="submit" class="btn btn-primary btn-block rounded-pill">Postar</button>
    </form>
  </div>
</body>

</html>