{% include 'parciais/_head.html' %}  
{% include 'parciais/_navbar.html'%}
      <div class="container">
        <h3>Inserindo Sua Receita</h3>
        <form class="form">
          <div class="form-group">
            <input type="text" class="form-control rounded-pill" placeholder="Nome da receita">
          </div>
          <div class="form-group row">
            <div class="f"></div>
          </div>
          <div class="form-group">
            <ul id="thumbnail-input-group" class="jumbotron d-flex justify-content-around p-0">
              <li class="form-control rounded-circle d-flex justify-content-center align-items-center" id="thumbnail-input">
                <a href="">
                  <i class="fas fa-camera"></i>
                </a>
              </li>
              <li class="form-control rounded-circle d-flex justify-content-center align-items-center" id="thumbnail-input">
                <a href="">
                  <i class="fas fa-camera"></i>
                </a>
              </li>
              <li class="form-control rounded-circle d-flex justify-content-center align-items-center" id="thumbnail-input">
                <a href="">
                  <i class="fas fa-camera"></i>
                </a>
              </li>
              <li class="form-control rounded-circle d-flex justify-content-center align-items-center" id="thumbnail-input">
                <a href="">
                  <i class="fas fa-camera"></i>
                </a>
              </li>
              <li class="form-control rounded-circle d-flex justify-content-center align-items-center" id="thumbnail-input">
                <a href="">
                  <i class="fas fa-camera"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="form-group row">
            <div class="form-group col-sm">
              <input multiple id="input" type="text" class="form-control rounded-pill" placeholder="Ingredientes">
            </div>
            <div class="form-group col-sm">
              <input id="input" type="text" class="form-control rounded-pill" placeholder="Categorias">
            </div>
          </div>
          <div id="prep" class="row">
            <div id="prep-mode" class="form-group col-sm">
              <div class="jumbotron">
                <h4>Modo de Preparo</h4>
                <div id="prep-input" class="form-group form-control d-flex">
                  <label for="">1.</label>
                  <textarea type="text"></textarea>
                </div>
                <div id="prep-input" class="form-group form-control d-flex">
                  <label for="">2.</label>
                  <textarea type="text"></textarea>
                </div>
                <div id="prep-input" class="form-group form-control d-flex">
                  <label for="">3.</label>
                  <textarea type="text"></textarea>
                </div>
                <button class="btn btn-primary btn-block rounded-pill">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
            <div id="general" class="form-group col-sm">
              <div class="jumbotron">
                <h4>Caracteristicas gerais</h4>
                <div class="form-group">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">Doce</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">Salgado</label>
                  </div>
                </div>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Porções</label>
                  </div>
                  <input class="form-control" id="portions" type="number" min="1">
                </div>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Tempo de preparo</label>
                  </div>
                  <input id="prep-time" type="time" class="form-control">
                </div>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Nível de dificuldade</label>
                  </div>
                  <select id="difficulty" class="form-control custom-select">
                    <option id="easy" value="1">Fácil</option>
                    <option id="medium" value="2">Médio</option>
                    <option id="hard" value="3">Difícil</option>
                    <option id="super" value="4">Super</option>
                  </select>
                </div>
                <textarea type="text" class="form-group form-control" placeholder="Observações adicionais"></textarea>
              </div>
            </div>
          </div>
          <button id="submit-button" type="submit" class="btn btn-primary btn-block rounded-pill">Postar</button>
        </form>
      </div>
</body>
</html>