<div id="receitas-tela-inicial" class="row">
    <div class="col-sm">
        <div class="receita-tela-inicial">
            <a href="" class="row d-flex justify-content-between align-items-center">
                <h1 class="utensils-tela-inicial d-flex justify-content-center align-items-center rounded-circle">
                    <i class="fas fa-utensils"></i>
                </h1>
                <div class="col text-center">
                    <h5>[Nome da receita]</h5>
                    <p>publicado por</p>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="far fa-star"></span>
                    <span class="far fa-star"></span>
                </div>
                <h3><i class="col far fa-heart"></i></h3>
            </a>
            <div class="prep-mode-tela-inicial row">
                <p class="text-justify">
                    <b>1.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus laoreet viverra. Cras non purus porttitor, rutrum metus at, vehicula sem. Sed maximus vitae lacus ut molestie. Proin posuere hendrerit aliquam. Curabitur
                    vel nibh sapien. Suspendisse potenti. Nullam suscipit vehicula fermentum.
                </p>
                <p class="text-justify">
                    <b>2.</b> Phasellus non faucibus erat. Nunc pharetra rutrum volutpat. Suspendisse potenti. Maecenas porta, dui luctus cursus lacinia, libero lectus tristique risus, vitae maximus neque nisi sit amet elit. Nunc fringilla odio magna.
                    Aliquam vel feugiat lorem, eu condimentum sem. Vestibulum ullamcorper tortor in erat dignissim vehicula.
                </p>
            </div>
            <div class="row">
                <div class="info-tela-inicial col">
                    <div class="row">
                        <div class="col">
                            <i class="far fa-clock"></i>
                            <p>15 minutos</p>
                        </div>
                        <div class="col">
                            <i class="fas fa-pizza-slice"></i>
                            <p>6 porções</p>
                        </div>
                    </div>
                </div>
                <ul class="ingredients-tela-inicial col">
                    <li>1 xicara de arroz</li>
                    <li>1 cebola picada</li>
                    <li>2 dentes de alho</li>
                    <li>Azeite</li>
                </ul>
            </div>
            <button class="see-more-tela-inicial btn">
                <i class="fas fa-book-open"></i>
            </button>
        </div>
    </div>
</div>